/* CSS files add styling rules to your content */
html, body, h1, h2, h3, p, header, a{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

body {
  font-family: Times New Roman;
  width:960px;
  margin: 2em auto;
  line-height: 1;
  background: rebeccapurple;
  background-image: radial-gradient(mediumpurple,rebeccapurple);
}

/*
=================================================
Typography
=================================================
*/

h1, h3, h4{
  color: #55CEFF;
  margin-bottom: 0.5rem;
}

h1{
  font-size: 18pt;
}

h2 {
  color:ghostwhite;
/* Currently Not in Use (Actually on Home Page)*/
}

h3 {
  font-size: 24pt;
}
h3:hover{
  color: #418DE8;
}

h4 {
  font-weight: bold;
  font-size: 24pt;
  padding-bottom: 25px;
}

p {
  margin-bottom: 22px;
  font-size: 12pt;
  color: ghostwhite;
  line-height: 16pt;
}

.center {
  text-align: center;
}


/*
=================================================
Links
=================================================
*/

a{
  color: ghostwhite;
  text-decoration: none;
}
a:hover{
  color: #888;
}

/*
=================================================
Navigation
=================================================
*/

.nav {
  float: right;
}

.primary-nav{
  font-size: 18px;
  font-weight: 400;
  margin-top: 45px;
  letter-spacing: .5px;
  line-height:1.05;
  margin-left: 2em;
}

/*
=================================================
Row
=================================================
*/
.row:before,
.row:after{
  display: block;
  content:"";
  clear:both;
}


/*
=================================================
Header
=================================================
*/

.logo {
  float: left;
  font-size: 64px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 56px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
  text-align: center;
}

/*
=================================================
Footer
=================================================
*/

.primary-footer {
  color: #888;
  font-size: 14px;
  padding-bottom: 30px;
  padding-top: 60px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
=================================================
Flex
=================================================
*/

.flex{
  display:flex;
  gap:2rem;
  border-radius:0.25rem;
}

.flexed-iframe{
  flex:width;
}

.flexed{
  flex:1;
  padding:1rem;
}

/*
=================================================
Frames
=================================================
*/

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  /*   height: 400px; */
  display:block;
  float: left;
  margin-bottom: 2%;
}